.container {
    max-width: 800px;
    margin: 0 auto;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    gap: 1;
    grid-template-columns: 1fr;
}