<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <script src="./assets/JS/bundle.js" defer></script> <!-- quando utilizamo "express.static", tornams todo o caminho de public acessível diretamente da raiz do programa -->
</head>
<body>
    <h1>Hello world!</h1>
    
</body>
</html>