<%- include('./partials/head') %>

    <form action="/" method="post">
        <label for="nome">Digite seu nome:</label for="nome">
        <input type="text" name="nome" id="nome">

        <input type="submit" value="Realizar login">
    </form>

<%- include('./partials/footer') %>